body {
		background-color: #013565;
		font: yellow;
		font-family: Arial,serif;
		font-size: 12pt;
		text-align:center;
		
		}

h1		{
		background-color: #ffd60a;
		color: yellow;
		font-weight:1000;
		font-style: oblique;
		text-align: center;	
	
}		
h2{
		background-color: #ffd60a;
		color: yellow;
		font-weight:1000;
		font-style: oblique;
		text-align: center;
		
		}
caption {	
	background-color: #ffd60a;
		color: yellow;
		font-weight:1000;
		font-style: oblique;
text-align: center;	}
		nav{
			color:#abdbe3;
		}
	

}

td{color: yellow;
		font-weight:1000;
		font-style: oblique;
		text-align: center;	}
p		{	
			color:yellow;
			border: solid 1px white;
			padding: 17px;
			padding-bottom: 25px;
			margin:15px ;
			border-style: ridge ;		
			border-width: 12px;
			Border-color:white;
			border-right-color:blue;
	 border-left-color:blue;
	 border-top-color:yellow;
	 border-bottom-color:yellow;
			border-radius:20px;
			box-shadow:10px 10px 20px black;
		
			font-size:20px;
     }	

dl		{	
			color:yellow;
			border: solid 1px white;
			padding: 17px;
			padding-bottom: 25px;
			margin:15px ;
			border-style: ridge ;		
			border-width: 12px;
			Border-color:white;
			border-right-color:blue;
	 border-left-color:blue;
	 border-top-color:yellow;
	 border-bottom-color:yellow;
			border-radius:20px;
			box-shadow:10px 10px 20px black;
			
			
     }			

	 table	{	
			color:blue;
			border: solid 1px white;
			padding: 17px;
			padding-bottom: 25px;
			margin:15px ;
			border-style: ridge ;		
			border-width: 12px;
			Border-color:white;
			Border-bottom-color:yellow;
			Border-top-color:yellow;
			Border-right-color:blue;
			border-left-color:blue;
			border-radius:20px;
			box-shadow:10px 10px 20px black;
			opacity:0.9;
			background-color:white;
			
     }	
	 
	 
form{
		
			color:yellow;
			border: solid 1px white;
			padding: 17px;
			padding-bottom: 25px;
			margin:15px ;
			border-style: ridge ;		
			border-width: 12px;
			Border-color:white;
			border-right-color:blue;
	 border-left-color:blue;
	 border-top-color:yellow;
	 border-bottom-color:yellow;
			border-radius:20px;
			box-shadow:10px 10px 20px black;
		
font-size:20px;}
ul {
	color:yellow;
	 display:inline-block ;
	 border:  solid 1px black ;
	 padding: 17px;
	 padding-bottom:25px;
	 margin: 15px;
	 border-style: groove;
	 border-width:12px;
	 border-top-color:blue;
	 border-bottom-color:blue;
	 border-left-color:yellow;
	 border-right-color:yellow;
	 border-radius: 20px;
	 text-align:left;
	 box-shadow: 10px 10px 20px black;
			}
			.container1
			{
				
			}
			.container2
			{
				
				margin-left:auto;
				margin-right:auto;
				display:flex;
				
			}
			
			
			.container3
			{
				margin-left:auto;
				margin-right:auto;
			}
			.container4
			{
				display:flex;
			}
			
			}
			.container5
			{
				margin-left:auto;
				margin-right:auto;
			}
			.container6
			{
				display:flex;
			}
			
			
			.container7
			{
				margin-left:auto;
				margin-right:auto;
			}
			.container8
			{
				display:flex;
			}
			.center.
			{
				margin-left:auto;
				margin-right:auto;
			}
			.container9
			{
				margin-left:auto;
				margin-right:auto;
				display:flex;
				text-align: center;
			}
			.container10
			{
				margin-left:auto;
				margin-right:auto;
				display:flex;
			}
			.container11
			{
				margin-left:auto;
				margin-right:auto;
				display:flex;
				text-align: center;
			}
			.container11
			{
				margin-left:auto;
				margin-right:auto;
				display:flex;
				text-align: center;
			}
			
			
			