<!DOCTYPE html>
<html lang="en">
<head>
	<title> Falcon Fitness Center</title>
	<meta charset="utf-8">
	<link href="css/ExternalstyelSheetFFC.css" rel="stylesheet">
</head>
<body>
<header>
		<a href="inedx.html"> <img src="images/FFCLogo.png" alt= "Falcon Fitness Center Logo" height="131" width="296">  </a> <br>
</header>
<nav>
		<a href="index.html"> Home</a> &nbsp;&nbsp;
		<a href="about.html">About Us</a>  &nbsp;&nbsp;
		<a href="classes.html">Classes</a>&nbsp; &nbsp;
		<a href="nutrition.html">Nutriton</a>&nbsp; &nbsp;
		<a href="contact.html">Contact Us </a>
</nav>
<main>
		
		
</main>
<footer>
		&copy;Coyright 2022. All Rights Reserved. <br>
		<a
		href="mailto:falconfitnesscenter@gmail.com"> falconfitnesscenter515@gmail.com </a>
	
</footer>	
</body>
</html>